h1 {
    color: darkgreen;  
}

.centered{
    font-family: Georgia;
    text-align: center;
}

p {
    line-height: 25px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul + p {
    text-transform: uppercase;
}

#img1 {
    float: left;
    margin-right: 10px;
}

p > span {
    font-weight: bold;
}