/* Common Breakpoints
Mobile: 360 x 720
Tablet: 768 x 1024
Laptop: 1366 x 768
High-res laptop or desktop: 1920 x 1080 */

@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@800&display=swap');

#logo {
    width: 125px;
    height: 125px;
    align-self: center;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
}

#company-name {
    align-self: center;
    text-align: right;
    color: white;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 25pt;
}

li a {
    color: red;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

.material-icons{
    color: blue;
}

ul li {
    margin: 5px;
}

h2 {
    text-align: center;
}

#copyright {
    text-align: center;
    margin-top: 20px;
}

#review {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#submit-button {
    width: fit-content;
    transition: all .2s ease-in-out;
    align-self: center;
}

#submit-button:hover {
    transform: scale(1.1);
}

 label, #first-name, #last-name, #email, #reply, #submit-button{
    font-size: 1.25rem;
}

#video {
    display: none;
}

@media only screen and (min-width: 768px) {
    #review {
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    #reply {
        width: 768px;
        max-width: 70%;
    }
    main {
        display: flex;
        justify-content: center;
    }

    #video {
        align-self: center;
    }
}

@media only screen and (min-width: 1366px) {
    #video {
        display: inline;
    }
}