@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
    background-color: black;
}

#business-name {
    color: yellow;
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    background-color: red;
    width: 20%;
    display: inline-block;
    position: relative;
    margin-top: 0;
    vertical-align: top;
    padding: 5px;
}

#pizza-img {
    width: auto;
    height: 75px;
}

header {
    position: fixed;
    width: 100%;
    height:75px;
    top: 0;
    left: 0;
    background-color: red;
}

nav {
    display: inline;
    float: right;
    margin-top: 25px;
    margin-right: 25px;
    background-color: red;
}

nav a {
    color: yellow;
    font-size: 26px;
    padding: 10px;
    margin: 10px;
    border: 10px solid yellow;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    vertical-align:baseline;
    position:relative;
    text-align: center;
}

footer > p {
    font-size: 26px;
    font-weight: bold;
    color: yellow;
    display: inline;
    padding: 10px;
}

span {
    font-family: 'Shadows Into Light', cursive;
}

footer p a {
    color: yellow;
}

main h2 {
    margin-top: 0px;
    width: 30%;
    color: white;
    text-align: center;
}

.menu li {
    color: white;
}

main {
    width: 30%;
    display: inline-block;
    margin-top: 80px;
}

section {
    margin-top: 20px;
    display: inline;
    padding: 10px;
}

section > img {
    width: 15%;
    vertical-align: top;
    padding: 18px;
    margin-top: 70px;
}

table {
    display: inline-block;
    border: 5px solid yellow;
    margin-top: 100px;
}

td, th {
     color: yellow;
     border-bottom: 2px solid yellow;
}

footer {
    margin-top: 100px;
}